{% extends 'layouts/app.twig' %}

{% block content %}
<div class="checkout">
    {% if user.paymentAccountID %}

    {% else %}
      {% include 'pay/credit-card-box.html' %}
    {% endif %}
    <form class="form" action="{{url('/pay/send')}}" method="POST" autocomplete="off" novalidate>
        <fieldset>
            <label for="card-holder">Count Ven</label>
            <input type="num" name="ven" value="120" />
        </fieldset>
        <fieldset>
            <label for="card-number">Payment method</label>
            <div class="select">
                <select name="paymentMethodID">
                    {% for payment in payments %}
                        <option value="{{payment.num}}">{{payment.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>
    {% if user.accounts %}
    <fieldset>
      <label for="accaunt_payment_id">Your credit card used earlier</label>
      <div class="select">
        <select id="accaunt_payment_id" name="accaunt_payment_id">
          {% for account in user.accounts %}
            <option value="{{account.payment_id}}">{{account.payment_method}}</option>
          {% endfor %}
        </select>
      </div>
    </fieldset>
    {% else %}
    <fieldset>
      <label for="card-number">Card Number</label>
      
      <input type="num" id="card-number" class="input-cart-number" name="card-number[]" value="6759" maxlength="4" />
      <input type="num" id="card-number-1" class="input-cart-number" name="card-number[]" value="6498" maxlength="4" />
      <input type="num" id="card-number-2" class="input-cart-number" name="card-number[]" value="2643" maxlength="4" />
      <input type="num" id="card-number-3" class="input-cart-number" name="card-number[]" value="8453" maxlength="4" />
    </fieldset>
    <fieldset>
      <label for="card-holder">Card holder</label>
      <input type="text" id="card-holder" name="card-holder" value="Ciquar Smith" />
    </fieldset>
    <fieldset class="fieldset-expiration">
      <label for="card-expiration-month">Expiration date</label>
      <div class="select">
        <select id="card-expiration-month" name="card-expiration-month">
          <option></option>
          <option selected>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>
      <div class="select">
        <select id="card-expiration-year" name="card-expiration-year">
          <option></option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option selected>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
          <option>2024</option>
          <option>2025</option>
        </select>
      </div>
    </fieldset>
    <fieldset class="fieldset-ccv">
      <label for="card-ccv">CCV</label>
      <input type="text" id="card-ccv" name="card-ccv" maxlength="3" value="111" />
    </fieldset>
    {% endif %}
    <input class="btn" type="submit" maxlength="3" name="pays" value="Pay" />
    {# Buying <?= $payVen ?> Ven for <?= venToUsd($payVen) ?>$ #}
    <!-- <button class="btn"><i class="fa fa-lock"></i> submit</button> -->



    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/public/js/script.js"></script>
{% endblock %}