{% extends 'layouts/app.twig' %}

{% block content %}
    {% for order in ank.orders %}
        <b>{{ank.username}}</b> bought <em>{{order.count_ven}}</em> Ven <small>(<b>{{order.state}}</b>)</small> <small>({{order.created_at}})</small>
        [<a href="{{url('/order/delete/' ~ order.id)}}" style="color:red;">x</a>]
        <br>
    {% endfor %}
{% endblock %}